* {
    outline: none;
}
a {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
button {
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}
.titulo-geral {
    font-size: 40px;
    font-weight: bold;
    color: #4F4FE5;
    margin-top: 0;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb>li>a {
    font-size: 18px;
    color: #8D8787;
}
.breadcrumb>li>a:hover {
    color: #4F4FE5;
}
.breadcrumb>li+li:before {
    content: ">";
    font-size: 18px;
    font-weight: 400!important;
    color: #8D8787;
    padding: 0 5px;
}
.breadcrumb>.active {
    font-size: 18px;
    font-weight: bold;
    color: #4F4FE5;
}

.navbar-default {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 200px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
header ul.nav {
    height: 160px;
    display: flex;
    align-items: flex-end;
    float: right;
    margin-right: -15px;
}
header ul.nav>li>a {
    font-size: 18px;
    color: #7E7777!important;
    padding: 10px 0;
    margin-left: 15px;
}
header ul.nav>li>a:hover,
header ul.nav>li>a.active {
    font-weight: bold;
    color: #4F4FE5!important;
}
header ul.nav>li.entrar>a {
    font-size: 17px;
    font-weight: bold;
    color: #fff!important;
    background: #6969E9;
    padding: 10px 30px!important;
    border-radius: 50px;
}
header ul.nav>li.entrar>a img {
    margin-right: 5px;
}
header ul.nav>li.entrar>a:hover {
    color: #fff!important;
    background: #333399;
}

.vitrine {
    height: 600px;
}
.vitrine img {
    height: 600px;
    object-fit: cover;
}
.vitrine .conteudo {
    width: 45%;
    height: 600px;
    background: url(../images/background-vitrine.png) no-repeat;
    position: absolute;
    padding-left: 20px;
}
.vitrine .conteudo h2 {
    font-size: 70px;
    font-weight: bold;
    color: #00E7FF;
    text-transform: uppercase;
    margin-top: 41px;
}
.vitrine .conteudo h2 span {    
    font-weight: 300;
    color: #fff;
    position: relative;
    top: -15px;
}
.vitrine .conteudo h4 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: -15px;
}
.vitrine .conteudo h4:after {
    content: "";
    width: 125px;
    height: 5px;
    display: block;
    background: #00E7FF;
    margin-top: 15px;
}
.vitrine .conteudo p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.vitrine .conteudo p img {
    width: 13px;
    height: 17px;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 6px;
}
.destino-passe {
    width: 45%;
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
}
.destino-passe.item1 {
    border-right: 1px solid #00E7FF;
    margin-right: 20px;
}
.vitrine .conteudo h3 {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    margin-top: -5px;
    margin-bottom: 30px;
}
.vitrine .conteudo h1 .cifrao {
    font-size: 16px;
    color: #00E7FF;
    position: absolute;
    margin-top: -7px;
    margin-right: -18px;
}
.vitrine .conteudo h1 {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
}
.vitrine .conteudo h1 .centavos {
    font-size: 20px;
}
.vitrine .conteudo .informacoes {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.vitrine .conteudo .informacoes span {
    color: #00E7FF;
    margin-right: 5px;
}
.vitrine .hvr-underline-from-center:before {
    background: #fff;
    height: 3px;
}
.vitrine .botoes1 {
    width: 100%;
    display: inline-block;
}
.vitrine .conteudo .botao {
    font-size: 21px;
    font-weight: bold;
    color: #3E1CA9;
    text-transform: uppercase;
    background: #00E7FF;
    padding: 10px 40px;
    border-radius: 50px;
    display: table;
    margin-top: 20px;
}
.vitrine .conteudo .botao img {
    width: 26px;
    height: 18px;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 6px;
}
.vitrine .conteudo .botao:hover {
    color: #99ffff;
    background: #333399;
}
.vitrine .owl-theme .owl-dots {
    text-align: center;
    margin-top: -40px;
    position: relative;
}
.vitrine .owl-theme .owl-dots .owl-dot {
    display: inline-block;
}
.vitrine .owl-theme .owl-dots .owl-dot.active span,
.vitrine .owl-theme .owl-dots .owl-dot:hover span {
    background: #0BDBA3;
    border: 1px solid #0BDBA3;
}
.vitrine .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    margin: 5px 5px;
    background: transparent;
    border: 1px solid #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.como-funciona {
    background: url('../images/back-comofunciona.png') no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
}
.como-funciona .titulo-geral {
    margin-bottom: 30px;
}
.como-funciona p {
    font-size: 20px;
    color: #6A6B6C;
    text-align: center;
}
.como-funciona img {
    margin: 0 auto 40px;
}
.como-funciona h4 {
    font-size: 40px;
    font-weight: bold;
    color: #4F4FE5;
    text-align: center;
    margin-bottom: 20px;
}
.como-funciona span .fa {
    font-size: 50px;
    font-weight: bold;
    color: #4F4FE5;
    display: table;
    margin: 30px auto;
}

.comentarios {
    background: url('../images/back-comentarios.png') no-repeat;
    background-size: cover;
    width: 100%;
    padding: 60px 0;
}
.comentarios h2 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    margin-bottom: 40px;
}
.comentarios .conteudo {
    width: 95%;
    float: left;
}
.comentarios img {
    width: 100px!important;
    float: left;
    margin-right: 30px;
}
.comentarios h4 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 40px;
    float: left;
    margin-right: 50px;
}
.comentarios h4 span {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: -5px;
}
.comentarios h5 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 65px;
}
.comentarios h5 img {
    width: 19px!important;
    margin-right: 8px;
}
.comentarios p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
}
.comentarios .owl-theme .owl-dots {
    width: 2%;
    position: absolute;
    right: 0;
    top: 0;
}
.comentarios .owl-theme .owl-dots .owl-dot.active span,
.comentarios .owl-theme .owl-dots .owl-dot:hover span {
    background: #0BDBA3;
    border: 1px solid #0BDBA3;
}
.comentarios .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    margin: 5px 5px;
    background: transparent;
    border: 1px solid #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.instagram {
    padding-top: 60px;
    background: #F7F7F7;
}
.instagram h2 {
    font-size: 40px;
    font-weight: bold;
    color: #434343;
    margin-bottom: 30px;
}

.novidades {
    text-align: center;
    padding: 50px 0;
    background: #3E1CA9;
}
.novidades h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
}
.novidades form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.novidades input {
    height: 45px;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 15px;
}
.novidades input[type="text"] {
    width: 20%;
}
.novidades input[type="email"] {
    width: 42%;
}
.novidades .botao {
    font-size: 21px;
    font-weight: bold;
    color: #3E1CA9;
    text-transform: uppercase;
    background: #00E7FF;
    padding: 5px 40px;
    border: none;
    border-radius: 50px;
}
.novidades .botao:hover {
    color: #99ffff;
    background: #333399;
}
.novidades .redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.novidades .redes-sociais a {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.novidades .redes-sociais i {
    font-size: 25px;
    color: #95989A;
    transition: 1s;
}
.novidades .redes-sociais a:hover {
    background: #95989A;
}
.novidades .redes-sociais a:hover i {
    color: #fff;
}

footer {
    padding: 60px 0;
    background: #282877;
}
footer img {
    margin-bottom: 20px;
}
footer h4 {
    font-size: 18px;
    font-weight: bold;
    color: #00E7FF;
    margin-bottom: 20px;
}
footer .itens {
    display: flex;
    justify-content: space-between;
}
footer ul>li {
    margin-bottom: 10px;
}
footer ul>li>a {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
footer ul>li>a:hover {
    color: #00E7FF;
}

.interna {
    padding: 80px 0;
    background: #F7F7F7;
}

.interna.viaje {
    padding-bottom: 0;
}
.viaje h2 {
    float: left;
}
.viaje .navbar-form {
    float: right;
}
.viaje input#srch-term {
    color: #95989A;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 300px;
    height: 45px;
}
.viaje button.btn.btn-default {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: none;
    height: 45px;
}
.viaje .navbar-form ::-webkit-input-placeholder {
   color: #95989A;
   font-size: 18px;
}
.viaje .navbar-form :-moz-placeholder {
   color: #95989A;
   font-size: 18px;
}
.viaje .navbar-form ::-moz-placeholder {
   color: #95989A;
   font-size: 18px;
}
.viaje .navbar-form :-ms-input-placeholder {
   color: #95989A;
   font-size: 18px;
}
.viaje i.glyphicon.glyphicon-search {
    font-size: 18px;
    color: #95989A;
}
.viaje .conteudo {
    margin-top: 60px;
    display: inline-block;
}
.viaje .itens {
    margin-bottom: 50px;
    min-height: 110px;
}
.viaje .item1 {
    width: 70%;
    float: left;
    border-right: 1px solid #00E7FF;
}
.viaje .item2 {
    width: 25%;
    float: right;
}
.viaje .img-bg-viaje {
    float: left;
    margin-right: 10px;
}
.viaje h4 {
    font-size: 20px;
    font-weight: bold;
    color: #414141;
    text-transform: uppercase;
}
.viaje h5 {
    font-size: 16px;
    color: #414141;
    margin-bottom: 0;
}
.viaje .informacoes {
    font-size: 16px;
    color: #414141;
    text-transform: uppercase;
}
.viaje .informacoes span {
    color: #00E7FF;
    margin-right: 5px;
}
.viaje h3 .cifrao {
    font-size: 16px;
    color: #00E7FF;
    position: relative;
    top: -24px;
    margin-right: 5px;
}
.viaje h3 {
    font-size: 50px;
    font-weight: bold;
    color: #414141;
    text-transform: uppercase;
    margin-top: 0;
}
.viaje h3 .centavos {
    font-size: 16px;
    position: relative;
    top: -24px;
}
.viaje .hvr-underline-from-center:before {
    background: #00E7FF;
    height: 3px;
}

.panel-duvidas .panel-group {
    margin-top: 60px;
}
.panel-duvidas .panel-default {
    border-color: transparent;
    border: none;
}
.panel-duvidas .panel-default>.panel-heading {
    height: 75px;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    border-radius: 5px;
}
.panel-duvidas .panel-title {
    width: 100%;
}
.panel-duvidas .accordion-toggle.collapsed {
    font-size: 20px;
    color: #303030;
    display: block;
    height: 75px;
    background: transparent;
    border-radius: 0;
    padding: 23px 15px;
    border-top: 1px solid #CBCCCC;
}
.panel-duvidas .accordion-toggle {
    font-size: 20px;
    color: #303030;
    background: transparent;
    display: block;
    height: 75px;
    border-radius: 0;
    padding: 23px 15px;
    border-top: 1px solid #CBCCCC;
}
.panel-heading .accordion-toggle:after {
    font-family: FontAwesome;
    content: "\f107";
    float: right;
    color: #303030;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f105";
}
.panel-duvidas .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
    background: #F7F7F7;
}
.panel-duvidas .panel-body {
    padding: 20px 30px;
}
.panel-duvidas .panel-collapse {
    border-top: none;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(235,235,235,0.69);
    -moz-box-shadow: 0px 5px 10px 2px rgba(235,235,235,0.69);
    box-shadow: 0px 5px 10px 2px rgba(235,235,235,0.69);
}
.panel-duvidas .panel-group .borda {
    border-bottom: 1px solid #d7d7d7;
    margin-top: 15px;
}
.panel-duvidas .panel-group .redes-sociais {
    float: right;
    margin-top: 10px;
}
.panel-duvidas .panel-group .redes-sociais ul>li {
    float: left;
    margin-left: 10px;
}
.panel-duvidas .panel-group .redes-sociais ul>li>a {
    color: #46a080;
}

.pacotes h2 {
    float: left;
    margin-right: 10px;
}
.pacotes .localizacao {
    font-size: 18px;
    color: #4F4FE5;
    margin-top: 13px;
}
.pacotes p {
    font-size: 16px;
    color: #6A6B6C;
    text-align: justify;
    margin-top: 15px;
}
.pacotes .borda {
    width: 100%;
    border-bottom: 1px solid #95989A;
    margin: 20px 0;
}
.pacotes h4 {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}
.pacotes ul>li {
    font-size: 18px;
    color: #414141;
}
.pacotes ul>li span {
    font-weight: bold;
}
.pacotes .informacoes {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    text-transform: uppercase;
}
.pacotes .informacoes span {
    color: #00E7FF;
    margin-right: 5px;
}
.pacotes .hvr-underline-from-center:before {
    background: #00E7FF;
    height: 3px;
}
.pacotes h5 {
    font-size: 22px;
    font-weight: bold;
    color: #4F4FE5;
}
.pacotes h3 .cifrao {
    font-size: 20px;
    color: #4F4FE5;
    margin-right: 5px;
}
.pacotes h3 {
    font-size: 73px;
    font-weight: bold;
    color: #414141;
    text-transform: uppercase;
    margin-top: 0;
}
.pacotes h3 .centavos {
    font-size: 21px;
}
.botoes {
    text-align: center;
    margin-top: 60px;
}
.botoes span {
    font-size: 20px;
    color: #414141;
    margin: 0 20px;
}
.botao1 {
    font-size: 18px;
    font-weight: bold;
    color: #3E1CA9;
    text-transform: uppercase;
    background: #00E7FF;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
}
.botao1:hover {
    color: #99ffff;
    background: #333399;
}
.botao2 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #282877;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
}
.botao2:hover {
    color: #fff;
    background: #999999;
}
.botao3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #ACACAC;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
}
.botao3:hover {
    color: #fff;
    background: #3E1CA9;
}
.fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--toggle-arrows {
    width: 100%!important;
}

#myModalInformacoes .modal-dialog {
    max-width: 1200px;
    width: 100%;
}
.modal-content {
    background-color: rgba(255,255,255,.9);
}
.modal-body {
    padding: 50px;
}
#myModalInformacoes .titulo-geral {
    margin-top: 40px;
}
#myModalInformacoes h3 {
    font-size: 35px;
    font-weight: bold;
    color: #555555;
    margin-top: 40px;
}
#myModalInformacoes h4 {
    font-size: 26px;
    font-weight: bold;
    color: #6969E9;
    margin-top: 25px;
    margin-bottom: 15px;
}
#myModalInformacoes h5 {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}
#myModalInformacoes p {
    font-size: 16px;
    color: #6A6B6C;
}
#myModalInformacoes a {
    font-size: 18px;
    font-weight: bold;
    color: #6969E9;
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
}
#myModalInformacoes .img-paris {
    margin-top: 60px;
}
#myModalInformacoes ul>li {
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
}
#myModalInformacoes .importante {
    font-size: 12px;
    color: #555555;
}
#myModalInformacoes .item {
    margin-bottom: 10px;
}
#myModalInformacoes .importante span {
    font-weight: bold;
}
#myModalInformacoes .item h5 {
    height: 36px;
}
#myModalInformacoes .item h4 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
}
#myModalInformacoes .item h6 {
    font-size: 16px;
    font-weight: bold;
    color: #707070;
    margin-bottom: 0;
}
#myModalInformacoes .item p span {
    font-weight: bold;
}
#myModalInformacoes .item.pull-left {
    border-right: 1px solid #95989A;
    padding-right: 30px;
}

.login p {
    font-size: 16px;
    color: #6A6B6C;
    margin-bottom: 30px;
}
.login p span {
    font-weight: bold;
    color: #6969E9;
}
.login input {
    height: 45px;
    border: transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    -moz-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
}
.login .btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #6969E9;
    padding: 8px 30px;
    border-radius: 50px;
}
.login .btn:hover {
    color: #fff!important;
    background: #333399;
}
.login .esqueceu {
    font-size: 14px;
    color: #555555;
    display: table;
    margin-top: 10px;
}

.cadastro {
    padding-bottom: 0;
}
.cadastro h4 {
    font-size: 30px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 25px;
    margin-top: 40px;
}
.cadastro h5 {
    font-size: 20px;
    font-weight: 400;
    color: #555555;
}
.cadastro label {
    font-size: 18px;
    font-weight: 400;
    color: #95989A;
}
.cadastro .borda {
    width: 100%;
    border-bottom: 1px solid #95989A;
    margin-top: 40px;
    margin-bottom: 10px;
}
.boxes {
    margin-top: -10px;
    margin-bottom: 25px;
}
.boxes a {
    color: #4F4FE5;
}
.boxes input[type="checkbox"] {
    display: none;
}
.boxes input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.boxes input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
.boxes input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 3px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.7);
    -moz-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.7);
    box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.7);
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}
.boxes input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: 2px;
    left: 8px;
    border-radius: 0;
    opacity: 1;
    background: transparent;
    border: 2px solid #555555;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

aside h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 75px;
    background: #6969E9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
}
aside h2 img {
    margin-right: 5px;
}
aside .conteudo1 {
    width: 100%;
    background: #fff;
    padding: 60px 30px 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.7);
    -moz-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    margin-bottom: 15px;
    margin-top: -74px;
}
aside .conteudo1 h4 {
    font-size: 20px;
    font-weight: bold;
    color: #6969E9;
    margin-top: 40px;
    margin-bottom: 40px;
}
aside ul>li {
    font-size: 18px;
    color: #95989A;
    margin-bottom: 20px;
}
aside ul>li span {
    color: #555555;
    float: right;
}
aside .conteudo1 ul>li.borda {
    width: 100%;
    border-bottom: 1px solid #95989A;
    margin-top: 25px;
    margin-bottom: 25px;
}
aside ul>li.resultado span {
    color: #6969E9;
}
aside .conteudo2 {
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.7);
    -moz-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    margin-bottom: 15px;
}
aside .conteudo2 h4 {
    font-size: 20px;
    font-weight: bold;
    color: #6969E9;
    margin-top: 10px;
    margin-bottom: 30px;
}
aside .item {
    margin-bottom: 10px;
}
aside .importante span {
    font-weight: bold;
}
aside .item h5 {
    height: 36px;
}
aside .item h4 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
}
aside .item h6 {
    font-size: 16px;
    font-weight: bold;
    color: #707070;
    margin-bottom: 0;
}
aside .item p span {
    font-weight: bold;
}
aside .item .borda {
    margin-bottom: 30px;
}
.hospedagem p {
    font-size: 12px;
    color: #707070;
    text-align: center;
    margin-top: 5px;
}
.hospedagem p span {
    font-weight: bold;
    color: #707070;
}
.hospedagem .check {
    font-size: 16px;
    font-weight: bold;
    color: #6969E9;
    margin-bottom: 0;
}
.hospedagem li {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}
.hospedagem li span {
    font-weight: bold;
    float: none!important;
}
.hospedagem .informacoes {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    text-transform: uppercase;
}
.hospedagem .informacoes span {
    color: #00E7FF;
    margin-right: 5px;
}
.hospedagem .hvr-underline-from-center:before {
    background: #00E7FF;
    height: 3px;
}

.pct-leilao h4 {
    margin-top: 20px;
}
.pct-leilao .btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #6969E9;
    padding: 8px 30px;
    border-radius: 50px;
}
.pct-leilao .btn:hover {
    color: #fff!important;
    background: #333399;
}
.pct-leilao .legenda label {
    font-size: 14px;
    color: #555555;
}

.modalConfirmacao h2 {
    font-size: 45px;
    font-weight: bold;
    color: #4F4FE5;
    text-align: center;
}
.modalConfirmacao .botao1,
.modalConfirmacao .botao2 {
    font-size: 14px;
}

.topo {
    width: 100%;
    min-height: 62px;
    background: #6969E9;
    display: flex;
    align-items: center;
}
.topo p {
    font-size: 18px;
    color: #fff;
    margin: 5px 0 0;
    float: left;
}
.topo p .fa {
    margin-right: 5px;
}
.topo .informacoes {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    float: right;
    background: #4F4FE5;
    padding: 8px 20px;
    border-radius: 50px;
}
.topo .informacoes span {
    color: #00E7FF;
    margin-right: 5px;
}
.topo .informacoes:hover {
    background: #ACACAC;
}

.leilao {
    padding-bottom: 0;
}
.leilao .item {
    margin-bottom: 50px;
    min-height: 110px;
}
.leilao .img-bg-viaje {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}
.leilao .item .titulo-geral {
    float: left;
    margin-right: 10px;
}
.leilao .localizacao {
    font-size: 18px;
    color: #4F4FE5;
    position: relative;
    top: 13px;
    margin-bottom: 30px;
}
.leilao h4 {
    font-size: 20px;
    font-weight: bold;
    color: #414141;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.leilao .informacoes {
    font-size: 16px;
    color: #414141;
    text-transform: uppercase;
}
.leilao .informacoes span {
    color: #00E7FF;
    margin-right: 5px;
}
.leilao .hvr-underline-from-center:before {
    background: #00E7FF;
    height: 3px;
}
.leilao .conteudo {
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.7);
    -moz-box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    box-shadow: 0px 3px 5px 1px rgba(182,182,184,0.5);
    margin-bottom: 15px;
}
.leilao .conteudo h2 {
    font-size: 50px;
    font-weight: bold;
    color: #4F4FE5;
    text-align: center;
    margin: 0;
}
.leilao .conteudo h2 span {
    font-size: 18px;
    color: #555555;
}
.leilao .btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #6969E9;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 30px auto;
    display: table;
}
.leilao .btn:hover {
    color: #fff!important;
    background: #333399;
}
.progressbar {
    display: flex;
    width: 80%;
    margin: 60px auto 100px;
}
.progressbar h2 {
    margin-top: 10px;
}
.progressWrapper {
    width: 70%;
    margin: auto;
    padding: 0;
    height: 60px;
}
.progressWrapper .progressBar {
    background-color: #fff;
    height: 60px;
    border-radius: 50px;
    border: 10px solid #EFECEC;
}
.progressWrapper .now {
    max-width: calc(100% - 40px);
    position: relative;
    top: -40px;
    height: 20px;
    margin-left: 20px;
    width: 0%;
    background-color: #4F4FE5;
    border-radius: 50px;
    transition-duration: 3s;
}
.progressWrapper .now::after {
    content: '';
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: relative;
    top: 0;
    background-color: #01E0FB;
}
.leilao .dados {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.leilao .dados .item {
    margin-bottom: 0;
    min-height: auto;
}
.leilao .dados h4 {
    font-size: 16px;
    color: #555555;
    margin-bottom: -5px;
}
.leilao .dados li {
    display: inline-block;
    font-size: 20px;
    color: #4F4FE5;
}
.leilao .dados li span {
    font-size: 60px;
    font-weight: bold;
    color: #4F4FE5;
}
.leilao .item-atual {
    background: #4F4FE5;
    width: 220px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.leilao .item-atual ul {
    margin-bottom: 0;
}
.leilao .item-atual h4 {
    font-size: 16px;
    color: #01E0FB;
    margin-bottom: -5px;
}
.leilao .dados .item-atual li {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}
.leilao .dados .item-atual li span {
    font-size: 20px;
    color: #fff;
}
#myModalParabens img,
#myModalDesconto img {
    margin: 0 auto;
    display: block;
}

.seus-leiloes .item .img-bg-viaje {
    width: 180px;
    height: 180px;
    border: 20px solid #4F4FE5;
    border-radius: 50%;
}
.seus-leiloes .item-destaque .img-bg-viaje {
    width: 180px;
    height: 180px;
    border: 20px solid #C9C9C9;
    border-radius: 50%;
}
.seus-leiloes .item {
    min-height: 230px;
    margin-top: 60px;
    margin-bottom: 0;
    border-bottom: 1px solid #95989A;
}
.seus-leiloes .btn {
    padding: 10px 0;
    width: 100%;
}

.usuario {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 0;
}
.usuario .item {
    float: left;
    margin-right: 30px;
}
.usuario .conteudo {
    height: 240px;
    display: flex;
    align-items: center;
}
.usuario h4 {
    font-size: 25px;
    color: #333333;
}
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}
.file-upload {
    display: none!important;
}
.circle {
    border-radius: 500px;
    overflow: hidden;
    width: 240px;
    height: 240px;
    background: #e0e0e0;
    position: absolute;
}
.usuario img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: relative;
    z-index: 10000;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    font-size: 1.2em;
}
.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

.menu-usuario {
    margin-top: 60px;
}
.menu-usuario .nav-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}
.menu-usuario .nav-tabs>li>a {
    margin-right: 0;
    border: none;
    border-radius: 0;
    font-size: 20px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}
.menu-usuario .nav-tabs>li.active>a,
.menu-usuario .nav-tabs>li.active>a:focus,
.menu-usuario .nav-tabs>li.active>a:hover,
.menu-usuario .nav-tabs>li>a:hover {
    font-weight: bold;
    color: #6666cc;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 5px solid #6666ff;
}
.menu-usuario .tab-pane {
    background: #f7f7f7;
    padding: 80px 0 300px;
}
.menu-usuario .tab-pane .titulo-geral {
    margin-bottom: 30px;
}


/* --- MOBILE --- */
@media (max-width: 767px) {
    #bs-example-navbar-collapse-1 {
        float: none;
        background: #fff;
        z-index: 300;
        position: relative;
        min-height: 250px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: 0;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 50px;
    }
    .navbar-header .navbar-brand {
        height: 150px;
    }
    .navbar-header img {
        width: 180px;
    }
    header ul.nav {
        display: block;
        float: none;
    }
    header ul.nav>li>a {
        margin-left: 0;
        text-align: center;
    }
    .vitrine .conteudo {
        width: 100%;
        padding: 0 15px;
    }
    .vitrine .conteudo h3 {
        font-size: 24px;
    }
    .vitrine .conteudo h1 {
        font-size: 50px;
    }
    .vitrine .conteudo h1 .cifrao {
        font-size: 12px;
    }
    .vitrine .conteudo h1 .centavos {
        font-size: 14px;
    }
    .vitrine .conteudo .informacoes {
        font-size: 16px;
    }
    .vitrine .conteudo .botao {
        font-size: 14px;
        padding: 10px 20px;
    }
    .titulo-geral,
    .comentarios h2,
    .instagram h2,
    .novidades h2 {
        font-size: 30px;
    }
    .como-funciona p {
        font-size: 18px;
    }
    .como-funciona h4 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .como-funciona img {
        margin: 40px auto 10px;
    }
    .comentarios .conteudo {
        width: 100%;
        float: none;
    }
    .comentarios img {
        width: 70px!important;
        margin-right: 10px;
    }
    .comentarios h4 {
        font-size: 20px;
        top: 0;
        float: none;
        margin-right: 0;
    }
    .comentarios h4 span {
        font-size: 14px;
    }
    .comentarios h5 {
        font-size: 14px;
        top: 0;
    }
    .comentarios h5 img {
        width: 14px!important;
        margin-right: 5px;
    }
    .comentarios p {
        font-size: 14px;
    }
    .comentarios .owl-theme .owl-dots {
        width: 100%;
        position: relative;
        top: 15px;
        text-align: center;
    }
    .comentarios .owl-dot {
        display: inline-block;
    }
    .novidades form {
        display: block;
    }
    .novidades input {
        width: 100%!important;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .novidades .redes-sociais a {
        width: 50px;
        height: 50px;
    }
    footer .itens {
        display: block;
        text-align: center;
    }
    footer .itens .item {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .viaje input#srch-term {
        width: 248px;
    }
    .viaje .img-bg-viaje {
        margin-right: 5px;
        width: 55px;
    }
    .viaje h4 {
        font-size: 12px;
        margin-bottom: 0;
    }
    .viaje .informacoes {
        font-size: 11px;
    }
    .viaje .item2 {
        width: 28%;
    }
    .viaje h5 {
        font-size: 12px;
    }
    .viaje h3 {
        font-size: 20px;
    }
    .viaje h3 .cifrao {
        font-size: 10px;
        top: -6px;
        margin-right: 2px;
    }
    .viaje h3 .centavos {
        font-size: 10px;
        top: -6px;
    }
    .viaje .itens {
        margin-bottom: 20px;
        min-height: 70px;
        margin-top: 30px;
    }
    .breadcrumb>li>a,
    .breadcrumb>li+li:before,
    .breadcrumb>.active {
        font-size: 12px;
    }
    .pacotes p {
        margin-top: 20px;
    }
    .pacotes .botao1,
    .pacotes .botao2 {
        display: block;
    }
    .botoes span {
        padding: 10px 0;
        display: block;
    }
    .modal-dialog {
        width: 94%;
    }
    .modal-body {
        padding: 30px 10px;
    }
    #myModalInformacoes h3 {
        font-size: 28px;
        margin-top: 20px;
    }
    #myModalInformacoes p {
        font-size: 14px;
    }
    #myModalInformacoes .item.pull-left {
        border-right: none;
        padding-right: 0;
    }
    #myModalInformacoes .item {
        margin-bottom: 30px;
        float: none!important;
    }
    #myModalInformacoes ul {
        float: none!important;
    }
    aside h2 {
        font-size: 20px;
        margin-top: 30px;
    }
    .conteudo2.hospedagem .pull-left,
    .conteudo2.hospedagem .pull-right {
        float: none!important;
        margin-bottom: 20px;
    }
    .modalConfirmacao h2 {
        font-size: 25px;
    }
    .topo {
        text-align: center;
        padding: 20px 0;
    }
    .topo p {
        margin-bottom: 20px;
        float: none;
    }
    .topo .informacoes {
        float: none;
    }
    .leilao .img-bg-viaje {
        float: none;
        margin: 0 auto 30px;
        display: block;
    }
    .leilao .localizacao {
        top: 4px;
    }
    .progressbar {
        width: 100%;
        margin: 30px auto 50px;
    }
    .progressbar .titulo-geral {
        font-size: 16px;
        margin-top: 22px;
    }
    .leilao .dados {
        text-align: center;
        display: block;
    }
    .leilao .dados .item {
        margin-bottom: 40px;
    }
    .leilao .item-atual {
        margin: 0 auto;
    }
    .menu-usuario .nav-tabs {
        display: block;
    }
    .menu-usuario .nav-tabs>li {
        float: none;
        text-align: center;
    }
    .usuario .item {
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .usuario .conteudo {
        width: 100%;
        height: 150px;
        justify-content: center;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header img {
        width: 150px;
    }
    header ul.nav>li>a {
        font-size: 14px;
        margin-left: 10px;
    }
    header ul.nav>li.entrar>a {
        font-size: 12px;
        padding: 10px 20px!important;
    }
    .vitrine .conteudo h3 {
        font-size: 30px;
    }
    .vitrine .conteudo h1 {
        font-size: 60px;
    }
    .vitrine .conteudo .botao {
        font-size: 18px;
    }
    footer h4,
    footer ul>li>a {
        font-size: 16px;
    }
    .viaje .img-bg-viaje {
        margin-right: 5px;
        width: 65px;
    }
    .viaje h4,
    .viaje .informacoes {
        font-size: 14px;
    }
    .viaje h5 {
        font-size: 12px;
    }
    .viaje h3 {
        font-size: 24px;
    }
    .viaje h3 .cifrao {
        font-size: 12px;
        top: -8px;
        margin-right: 3px;
    }
    .viaje h3 .centavos {
        font-size: 12px;
        top: -8px;
    }
    .pacotes .botao1,
    .pacotes .botao2 {
        font-size: 14px;
    }
    #myModalInformacoes .item.pull-left {
        border-right: none;
        padding-right: 0;
    }
    #myModalInformacoes .item {
        margin-bottom: 30px;
        float: none!important;
    }
    #myModalInformacoes ul {
        float: none!important;
    }
    .login .btn {
        font-size: 12px;
        padding: 8px 20px;
    }
    .login .esqueceu {
        font-size: 12px;
    }
    .seus-leiloes .btn {
        font-size: 10px!important;
    }
    .seus-leiloes .conteudo {
        padding: 30px 0;
    }
    .seus-leiloes .conteudo h2 {
        font-size: 40px;
    }
    .seus-leiloes .conteudo {
        margin-top: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1010px) {
    header ul.nav>li>a {
        font-size: 16px;
    }
    .viaje h3 {
        font-size: 40px;
    }  
    .viaje h3 .cifrao {
        font-size: 14px;
        top: -18px;
    }
    .viaje h3 .centavos {
        font-size: 14px;
        top: -18px;
    }
}
@media (min-width: 992px) and (max-width: 1140px) {
    .modal-body {
        padding: 50px 20px;
    }
}