* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1600px!important;
    width: 100%;
}
.borda {
    border: 2px solid #b18e3d;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-geral {
    font-size: 74px;
    font-weight: bold;
    color: #c49e4e;
    text-transform: uppercase;
    margin: 0;
}
.content {
    width: 50%;
    height: 600px;
    float: left;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 30px;
}
.owl-carousel .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
    width: 12px;
    height: 12px;
}
.modal-title {
    text-transform: uppercase;
}
.trajes,
.lapela,
.dicas {
    height: 600px;
}

header {
    height: 800px;
    background: url('../images/vitrine.jpg') no-repeat;
    background-size: cover;
    transition: 1s;
}
.navbar-default {
    background: rgba(103, 99, 92, .5);
    height: 150px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
    transition: 1s;
}
.navbar-header .navbar-brand {
    position: relative;
    z-index: 20;
}
.navbar-brand {
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
}
#bs-example-navbar-collapse-1 {
    float: right;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
header ul.nav {
    height: 150px;
    display: flex;
    align-items: center;
    margin-right: -10px;
}
header ul.nav>li>a {
    font-size: 18px;
    font-weight: bold;
    color: #e0bf6a!important;
    text-transform: uppercase;
    padding: 10px;
}
header ul.nav>li>a:hover {
    color: #fff!important;
}
header ul.nav>li.agende>a {
    color: #fff!important;
    padding: 10px 20px!important;
    background: #e0bf6a;
    border-radius: 50px;
    margin-right: 10px;
}
header ul.nav>li.agende>a:hover {
    background: #67635c;
}
.fixed-header .navbar-default {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: rgba(103, 99, 92, 1.0);
}
.fixed-header .navbar-brand {
    height: 50px;
}
.fixed-header .navbar-header img {
    width: 140px;
}
.fixed-header ul.nav {
    height: 50px;
}
.fixed-header ul.nav>li>a {
    font-size: 14px;
}
.fixed-header ul.nav>li.agende>a {
    padding: 7px 20px!important;
}

.trajes .content1 {
    background: url('../images/trajes.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.trajes .content2 {
    padding: 100px 0;
}
.trajes .conteudo {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .6);
    position: relative;
    width: 100%;
    transition: 1s;
}
.trajes .content2 img {
    width: calc(100% - 30px);
    height: 400px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.trajes .content h4 {
    font-size: 18px;
    color: #c49e4e;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    transition: 1s;
}
.trajes .conteudo:hover {
    background: rgba(0, 0, 0, .0);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(158,158,158,1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(158,158,158,1);
    box-shadow: 0px 0px 15px 3px rgba(158,158,158,1);
}
.trajes .conteudo:hover h4 {
    opacity: 0;
}
.trajes .album {
    display: none;
}

.lapela .content1 {
    display: flex;
    align-items: center;
    padding: 0 70px;
}
.lapela p {
    font-size: 18px;
    color: #747474;
    text-align: justify;
}
.lapela .content2 {
    background: url('../images/lapela.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.dicas .content1 {
    background: url('../images/dicas.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.dicas .content2 {
    display: flex;
    align-items: center;
    padding: 0 70px;
}
.dicas .item {
    background: #747474;
    height: 350px;
    padding: 20px;
}
.dicas h4 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.dicas p {
    font-size: 12px;
    color: #fff;
    text-align: justify;
    margin: 0;
}
.dicas a {
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    display: table;
    width: calc(100% - 40px);
    background: #e0bf6a;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
}
.dicas a:hover {
    background: #67635c;
}

.localizacao {
    height: 601px;
    border-bottom: 1px solid #e8e8e8;
}
.localizacao .content1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 70px;
    
}
.localizacao a {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    display: table;
    width: 100%;
    background: #e0bf6a;
    border-radius: 50px;
    margin-bottom: 40px;
}
.localizacao a:hover {
    background: #67635c;
}
.localizacao p {
    font-size: 16px;
    color: #747474;
}
.localizacao p .fa {
    font-size: 20px;
    color: #e0bf6a;
    margin-right: 5px;
}
.localizacao p .fa-whatsapp {
    margin-left: 5px;
}

.fale-conosco {
    padding: 80px 0;
}
.fale-conosco .titulo-geral {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.fale-conosco input {
    font-size: 14px;
    color: #fff;
    background: #747474;
    height: 40px;
    border: none;
    margin-bottom: 20px;
}
.fale-conosco textarea {
    font-size: 14px;
    color: #fff;
    background: #747474;
    height: 150px;
    border: none;
    margin-bottom: 20px;
}
.fale-conosco ::-webkit-input-placeholder {
    font-size: 14px;
    color: #fff;
}
.fale-conosco ::-moz-placeholder {
    font-size: 14px;
    color: #fff;
}
.fale-conosco :-ms-input-placeholder {
    font-size: 14px;
    color: #fff;
}
.fale-conosco :-moz-placeholder {
    font-size: 14px;
    color: #fff;
}
.fale-conosco .fa {
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    top: 2px;
}
.fale-conosco button {
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 40px;
    float: right;
    display: table;
    background: #e0bf6a;
    border-radius: 50px;
    border: none;
}
.fale-conosco button:hover {
    background: #67635c;
}

footer {
    background: #747474;
    height: 100px;
    display: flex;
    align-items: center;
}
footer p {
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    .fixed-header .navbar-default {
        position: relative;
        z-index: 999;
        width: 100%;
        height: auto;
    }
    header {
        height: 371px;
        background-position: center;
    }
    .navbar-header img {
        width: 200px;
    }
    #bs-example-navbar-collapse-1 {
        float: none;
        background: rgba(103, 99, 92, 1.0);
        z-index: 300;
        position: relative;
        top: 0;
        height: 100%;
        padding: 10px 30px 30px;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 16px;
        border-color: #e0bf6a!important;
    }
    .navbar-default {
        height: 80px;
    }
    .navbar-brand {
        height: 80px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #e0bf6a;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
        margin-top: 0!important;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
    header ul.nav>li.agende>a {
        margin-right: 0;
        margin-top: 10px;
    }
    .trajes,
    .lapela,
    .dicas {
        height: auto;
    }
    .content {
        width: 100%;
        height: auto;
        float: none;
    }
    .titulo-geral {
        font-size: 50px;
    }
    .trajes .content1,
    .dicas .content1 {
        height: 300px;
    }
    .trajes .content2 {
        padding: 15px 0;
    }
    .trajes .conteudo {
        margin-bottom: 15px;
    }
    .trajes .content2 img,
    .trajes .conteudo {
        height: 350px;
    }
    .lapela .content2 {
        height: 300px;
    }
    .lapela .content1 {
        padding: 15px;
    }
    .lapela p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .dicas .content2 {
        padding: 15px 15px 30px;
    }
    .dicas .item {
        height: 300px;
        padding: 10px;
    }
    .dicas a {
        width: calc(100% - 20px);
        bottom: 10px;
    }
    .owl-theme .owl-dots {
        margin-top: 10px;
    }
    .localizacao {
        height: auto;
    }
    .localizacao .content1 {
        padding: 0 15px 15px;
    }
    .localizacao a {
        font-size: 16px;
        padding: 10px 20px;
        margin-bottom: 30px;
    }
    .localizacao p {
        font-size: 14px;
    }
    .localizacao p .fa {
        font-size: 18px;
        color: #e0bf6a;
        margin-right: 5px;
    }
    iframe {
        height: 400px;
    }
    .fale-conosco {
        padding: 30px 0;
    }
    .fale-conosco .titulo-geral {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .fale-conosco input {
        height: 35px;
        margin-bottom: 10px;
    }
    .fale-conosco textarea {
        height: 120px;
        margin-bottom: 10px;
    }
    .lb-nav a.lb-prev,
    .lb-nav a.lb-next {
        filter: alpha(Opacity=100);
        opacity: 1;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    header {
        height: 600px;
    }
    .navbar-header img {
        width: 220px;
    }
    header ul.nav>li>a {
        font-size: 14px;
    }
    .content {
        height: 400px;
    }
    .trajes,
    .lapela,
    .dicas {
        height: 400px;
    }
    .trajes .content2 img,
    .trajes .conteudo {
        height: 200px;
    }
    .trajes .content h4 {
        font-size: 12px;
    }
    .lapela .content1,
    .dicas .content2,
    .localizacao .content1 {
        padding: 0 15px;
    }
    .lapela p {
        font-size: 14px;
    }
    .dicas .item {
        height: 280px;
        padding: 15px;
    }
    .owl-theme .owl-dots {
        margin-top: 10px;
    }
    .localizacao {
        height: 401px;
    }
    iframe {
        height: 400px;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    .navbar-header img {
        width: 300px;
    }
    .trajes .content2 img,
    .trajes .conteudo {
        height: 250px;
    }
    .trajes .content h4 {
        font-size: 16px;
    }
    .trajes .content2 {
        padding: 175px 0;
    }
    .lapela .content1,
    .dicas .content2,
    .localizacao .content1 {
        padding: 0 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .navbar-header img {
        width: 300px;
    }
    .trajes .content2 {
        padding: 150px 0;
    }
    .trajes .content2 img,
    .trajes .conteudo {
        height: 300px;
    }
    .trajes .content h4 {
        font-size: 16px;
    }
    .lapela .content1,
    .dicas .content2,
    .localizacao .content1 {
        padding: 0 30px;
    }
}