* {
    outline: none;
}
a {
    text-decoration: none!important;
    cursor: pointer!important;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}
.botao {
    font-size: 16px;
    color: #e1e1e1;
    text-transform: uppercase;
    background: #fd0100;
    border: 1px solid #fd0100;
    padding: 8px 40px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 30px;
}
.botao:hover {
    color: #fd0100;
    background: transparent;
}


.topo {
    width: 100%;
    height: 40px;
    background: #e1e1e1;
    /* border-bottom: 1px solid #807C7F; */
}
.topo .redes-sociais {
    float: right;
    position: relative;
    top: -33px;
}
.topo .redes-sociais .fa {
    font-size: 24px;
    color: #807C7F;
    margin-left: 15px;
}
.topo .redes-sociais a:hover .fa {
    color: #fd0100;
}
.tooltip-inner {
    background-color: #807C7F;
    color: #e1e1e1;
    width: 150px;
    padding: 10px 20px;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #807C7F;
}
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.centro p {
    font-size: 18px;
    color: #807C7F;
    margin-top: -3px;
    margin-bottom: 0;
}
.centro p .fa {
    font-size: 26px;
    color: #807C7F;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
header {
    position: relative;
    z-index: 2;
}
.navbar-default {
    background: transparent;
    border-color: transparent;
    height: 150px;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding-top: 25px;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-header img {
    width: 250px;
    margin: 0 auto;
}
ul.nav {
    width: 38%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
ul.nav>li>a {
    font-size: 16px;
    color: #807C7F!important;
    text-transform: uppercase;
    padding: 10px 0;
}
ul.nav>li>a:hover {
    color: #fd0100!important;
    font-weight: bold;
}
.navbar-brand-centered {
    position: absolute;
    left: 45%;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.vitrine img {
    width: 65%!important;
    height: 400px;
    object-fit: cover;
    float: left;
}
.vitrine .content {
    width: 35%;
    height: 400px;
    float: right;
    background: #e1e1e1;
    padding: 0 20px;
}
.vitrine .content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #807C7F;
    margin-bottom: 25px;
}
.vitrine .content p {
    font-size: 16px;
    color: #807C7F;
    margin-bottom: 5px;
}
.vitrine .content p span {
    font-weight: bold;
}

.carros {
    padding: 80px 0;
}
.carros img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.carros .item {
    border: 1px solid #e1e1e1;
    height: 450px;
}
.carros .content {
    padding: 0 20px;
}
.carros .content h2 {
    font-size: 18px;
    font-weight: bold;
    color: #807C7F;
}
.carros .content p {
    font-size: 14px;
    color: #807C7F;
    margin-bottom: 0;
}
.carros .botao {
    color: #fff;
    display: table;
    margin: 30px auto 0;
}
.carros .owl-carousel {
    padding: 0 40px;
}
.carros .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 42%;
    margin-left: -30px;
    display: block!important;
    border: 0px solid black;
}
.carros .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 42%;
    right: 0;
    display: block!important;
    border: 0px solid black;
}
.carros .owl-prev i,
.carros .owl-next i {
    transform: scale(5,5);
    color: #fd0100;
}
.carros .owl-prev i:hover,
.carros .owl-next i:hover {
    color: #e1e1e1;
}




/* --- MOBILE --- */
@media (max-width: 767px) {
    img.logo {
        width: 180px;
    }
    .navbar-brand-centered {
        left: 28%;
        width: 110px;
    }
    .navbar-toggle {
        padding: 20px 17px;
        border-radius: 50px;
        margin-top: 20px;
        position: absolute;
        right: 0;
    }
    .navbar-default {
        display: block;
        height: 120px;
        padding-top: 10px;
    }
    .navbar-header {
        height: 90px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        z-index: 300;
        background: #fff;
        position: relative;
        top: 15px;
        min-height: 390px;
        padding: 10px 30px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #fd0100;
    }
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #fff;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    ul.nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    ul.nav>li>a {
        font-size: 18px;
        padding: 17px 10px!important;
    }
    .vitrine img {
        width: 100%!important;
        height: 200px;
    }
    .vitrine .content {
        width: 100%;
        height: 300px;
        padding: 0 15px;
    }
    .vitrine .content h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .vitrine .content p {
        font-size: 15px;
        margin-bottom: 0;
    }
    .botao {
        font-size: 15px;
        padding: 5px 40px;
        margin-top: 20px;
    }
    .carros .owl-carousel {
        padding: 0;
    }
    .carros .owl-nav {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    ul.nav>li>a {
        font-size: 14px;
        padding: 10px 5px;
    }
    .navbar-brand-centered {
        width: 225px;
    }
    .navbar-header img {
        width: 200px;
    }
}